dbutils==3.1.1
pandas==2.3.2
paramiko==4.0.0
Pillow==11.3.0
playwright==1.53.0
pyautogui==0.9.54
pymysql==1.1.2
pyperclip==1.9.0
PySide6==6.9.2
PyYAML==6.0.2
Requests==2.32.5
selenium==4.35.0
urllib3==2.5.0
allure-pytest==2.15.0
pytest==8.4.1
pytest_html==4.1.1
pytest-forked==1.6.0
pytest-metadata==3.1.1
pytest-repeat==0.9.4
pytest-rerunfailures==16.0.1
pytest-xdist==3.8.0
opencv-python==4.12.0.88
pyodbc==5.2.0
loguru==0.7.3
allure-python-commons==2.15.0
openai==1.108.2